* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --accent: #19cbbf;
    --accent-soft: #00eaff55;
    --accent-light: #37e7db;
    --bg1: #020b0d;
    --bg2: #041014;
    --text: #e8e8e8;
    --card-bg: #03181d;
}

body {
    margin: 0;
    background: linear-gradient(135deg, var(--bg1), var(--bg2));
    color: var(--text);
}

.header {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid var(--accent-soft);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.container {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: var(--accent);
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 17px;
}

.menu-link {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    position: relative;
    padding: 8px;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--accent), var(--bg1));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}


/* HERO */

.hero {
    display: flex;
    align-items: center;
}

.container-hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    gap: 8rem;
}

.hero-text h2 {
    max-width: 790px;
    font-size: clamp(2.5rem, 4vw, 4rem);
    margin-bottom: 20px;
}

.hero-text h2 span {
    color: var(--accent);
}

.sub-titulo {
    max-width: 480px;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    opacity: .9;
    line-height: 1.6;
}

.foto-perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px;
    border-radius: 50%;
    border: 4px solid var(--accent);
    animation: flutuar 5s ease-in-out infinite;
    opacity: .7;
}


/* SOBRE */
.sobre {
    padding: 100px 50px
}

.container-sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre-titulo {
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--accent);
    position: relative;
}

.sobre-titulo::after {
    content: '';
    position: absolute;
    left: -8%;
    bottom: -15px;
    width: 20%;
    height: 4px;
    background-color: var(--accent-soft);
}


.sobre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 100%;

}

.card {
    background: var(--bg1);
    padding: 25px;
    border-radius: 16px;
    border: 1px solid var(--accent-soft);
    transition: all 0.5s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-6px) scale(1.02);
    border-color: var(--accent);
    box-shadow: 0 0 12px var(--accent-light);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--text);
}

.card p {
    line-height: 1.6;
    color: var(--text);
    opacity: .9;
}

.skill p {
    color: var(--text);
    margin: 5px 0;
}

.bar {
    width: 100%;
    height: 8px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    background: var(--card-bg);
}

.fill {
    height: 100%;
    background: var(--accent);
    border-radius: 15px;
}



/* PROJETOS */
.secao {
    padding: 100px 50px;
}

.titulo-secao {
    font-size: 40px;
    margin-bottom: 60px;
    position: relative;
    color: var(--accent)
}

.titulo-secao::after {
    content: '';
    position: absolute;
    left: -5%;
    bottom: -15px;
    width: 20%;
    height: 4px;
    background-color: var(--accent-soft);
}



.caixa-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card-projeto {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--accent-soft);
    overflow: hidden;
    transition: all 0.5s ease;
}

.card-projeto:hover {
    box-shadow: 0 0 12px var(--accent-light);
    transform: translateY(-10px) scale(1.03);
}

.img-projeto {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.caixa-texto-projeto {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
    margin-bottom: 20px;
}

.info-projetos {
    margin-bottom: 10px;
}

.card-projeto a {
    margin-top: auto;
    align-self: flex-start;
    color: var(--bg1);
    font-weight: 500;
    background: var(--accent);
    padding: 8px 10px;
    border-radius: 14px;
    text-decoration: none;
}



/* CONTATO */
.contatos {
    padding: 100px 50px;
}

.contatos-titulo {
    font-size: 40px;
    margin-bottom: 60px;
    position: relative;
    color: var(--accent);
}

.contatos-titulo::after {
    content: '';
    position: absolute;
    left: -50px;
    bottom: -15px;
    width: 21%;
    height: 4px;
    background-color: var(--accent-soft);
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 1.5rem 2rem 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
    margin-top: 100px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--escuro), #25D366);
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}


.botao-form:hover {
    transform: translateY(-4);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}



.botoes-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.botao-contato {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 500;
    min-width: 160px;
    margin-top: 50px;
    text-decoration: none;
    color: var(--claro)
}

.botao-contato:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-contato:hover {
    transform: translateY(-4);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}


.logo-WhatsApp {
    display: flex;
    gap: 10px;
    font-weight: 500;
    height: 35px;
    margin-left: 5px;
    color: #25D366;
}

.logo-WhatsApp svg {
    fill: #25D366;
}

.email {
    background-color: #EA4335;
}

.linkedin {
    background-color: #007785;
}

.github {
    background-color: #333;
}



footer {
    padding: 20px 5%;
    text-align: center;
    border-top: 1px solid var(--primaria);
}




@media (max-width: 768px) {

    /* -------- GERAL -------- */
    .container,
    .container-hero,
    .sobre,
    .secao,
    .contatos {
        padding: 40px 20px;
    }

    body {
        overflow-x: hidden;
    }

    /* -------- HEADER -------- */
    .header {
        padding: 15px 0;
    }

    .container {
        padding: 0 20px;
        flex-direction: column;
        gap: 10px;
    }

    .navbar ul {
        gap: 15px;
        font-size: 15px;
    }

    .logo {
        font-size: 28px;
    }

    /* -------- HERO -------- */
    .container-hero {
        flex-direction: column;
        text-align: center;
        gap: 40px;
        padding-top: 160px;
        /* espaço para o header */
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .sub-titulo {
        max-width: 100%;
        text-align: center;
    }

    .foto-perfil {
        width: 220px;
        height: 220px;
        margin-bottom: 200px;
    }

    /* -------- SOBRE -------- */
    .sobre-titulo {
        font-size: 32px;
    }

    .sobre-titulo::after {
        left: -20px;
        width: 50%;
    }

    .sobre-grid {
        grid-template-columns: 1fr;
    }

    /* -------- TÍTULOS DE SEÇÃO -------- */
    .titulo-secao {
        font-size: 32px;
    }

    .titulo-secao::after {
        left: -45px;
        width: 70%;
    }

    /* -------- PROJETOS -------- */
    .caixa-projetos {
        grid-template-columns: 1fr;
        gap: 25px;
        width: 100%;
        max-width: 100%;
    }

    .card-projeto {
        border-radius: 14px;
    }

    .img-projeto {
        height: 180px;
        object-fit: cover;
    }

    .caixa-texto-projeto {
        padding: 1.2rem;
    }

    .card-projeto a {
        margin-top: auto;
        align-self: flex-start;
        font-size: 0.9rem;
        padding: 8px 12px;
    }

    /* -------- CONTATO -------- */
    .contatos-titulo {
        font-size: 32px;
    }

    .contatos-titulo::after {
        left: -70px;
        width: 90%;
    }

    .formulario-contato {
        margin-top: 40px;
        padding: 1.2rem;
    }

    .botoes-contato {
        gap: 12px;
        flex-wrap: wrap;
    }

    .botao-contato {
        width: 50%;
        justify-content: center;
    }
}